# Build files
*.o
*.engine
*.so
*.json
*.bkp
*.weights

# Directories
.vscode/
images/
images_debug/
logs/
json/
config/
videos/
evalxml/
__pycache__/

# Database
local.db*

# Binaries
yolov4_detector
dbworker/dbworker
model_crypto/crypto

# Exceptions
!samples/*.json